<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ######################## -->
    <div class="content"> 
      <!-- ################ -->
      <h1>Customer Service and Support</h1>
      <p>Summit Toy Store provides 24/7 assistance for customers on new and existing orders as well as an FAQ base to address a vast majority of your toy needs.</p>
      <p>Please consult our <a href="#">FAQ page</a> as a first step to see what answers we may already have for you. </p>
      <p>This is a W3C compliant free website template from <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a>. For full terms of use of this template please read our <a href="http://www.os-templates.com/template-terms">website template licence</a>.</p>
      <img class="imgrborderedbox inspace-5" src="/content/dam/summit-toys/thumbnails/float_right.png" alt="Contact Us">
      <p>Call 1-800-XXX-YYYY between 7am and 8pm Pacific time M-F or between 10am and 5pm Pacific Saturday and Sunday.<br/>See the chat image to the right to exercise that option subject to availablilty.</p>
      <div class="clear"></div>
      <div id="comments">
        <h2>Or Send us a Message</h2>
        <form action="#" method="post">
          <div class="one_third first">
            <label for="name">Name <span>*</span></label>
            <input type="text" name="name" id="name" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="email">Mail <span>*</span></label>
            <input type="email" name="email" id="email" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="url">Website</label>
            <input type="url" name="url" id="url" value="" size="22">
          </div>
          <div class="block clear">
            <label for="comment">Your Comment</label>
            <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
          </div>
          <div>
            <input type="submit" name="submit" value="Submit Form">
            &nbsp;
            <input type="reset" name="reset" value="Reset Form">
          </div>
        </form>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>