<div class="wrapper row2">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="#">${properties.bannerTitle}</a></h1>
    </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
        <li><img src="${properties.pathOne}"/></li>
        <li><img src="${properties.pathTwo}"/></li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </header>
</div>