<div class="wrapper row1">
  <div id="topbar" class="hoc clear"> 
		<div id="topbar" class="hoc clear"> 
    	<!-- ################################################################################################ -->
    	<nav id="mainav" class="fl_left">
      	<ul class="clear">
        	<li><a href="/content/summit-toys/en.html">Home</a></li>
        	<li><a href="/content/summit-toys/en/new-arrivals.html">New Arrivals</a></li>
        	<li class="active"><a href="/content/summit-toys/en/best-sellers.html">Best Sellers</a></li>
        	<li><a href="/content/summit-toys/en/games-toys.html">Games & Toys</a></li>
        	<li><a href="/content/summit-toys/en/gifts.html">Gifts</a></li>
        	<li><a href="/content/summit-toys/en/contact-us.html">Contact Us</a></li>
      	</ul>
    	</nav>
    	<!-- ################################################################################################ -->
    	<div class="fl_right">
      	<ul class="faico clear">
        	<li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        	<li><a class="faicon-pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
        	<li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        	<li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        	<li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        	<li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        	<li><a class="faicon-rss" href="#"><i class="fa fa-rss"></i></a></li>
      	</ul>
    	</div>
    	<!-- ################################################################################################ -->
		</div>
	</div>
</div>