<div class="wrapper row0">
	<header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="#">Toys Company</a></h1>
		<h3><i>"This is what your child want!"</i></h3>
    </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
        <li><strong>Search Products</strong><br></li>
      </ul>
      <form id="newsletter" method="post" action="#">
          <fieldset>
            <legend>Newsletter:</legend>
            <input class="btmspace-15" type="text" value="" placeholder="Product, Description">
            <button type="submit" value="submit">Submit</button>
          </fieldset>
    </form>
    </div>
    <!-- ################################################################################################ -->
	</header>
</div>